# Loading the dollar-to-ruble exchange rate into the SQL database

## Creating an SQL database

In [1]:
import bs4
import requests
import pandas as pd
import datetime
from sqlalchemy import create_engine

# Parsing the dollar rate from 01.01.2000 to 15.06.2020 
# from the site cbr.ru
html = 'https://www.cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01235&UniDbQuery.From=01.01.2020&UniDbQuery.To=15.06.2020'

req = requests.get(html)
parser = bs4.BeautifulSoup(req.text, "lxml")

rows = parser.find_all("tr")[2:]

ex_rate = []
for row in rows:
    cells = row.find_all('td')
    ex_rate.append(cells)

for i in range(len(ex_rate)):
    ex_rate[i][0] = ex_rate[i][0].text
    ex_rate[i][1] = ex_rate[i][1].text
    ex_rate[i][2] = ex_rate[i][2].text.replace(',','.')

ex_rate = pd.DataFrame(ex_rate)
del ex_rate[1]
ex_rate.columns = ['date', 'exchange_rate']
ex_rate['date'] = pd.to_datetime(ex_rate['date'], format='%d.%m.%Y')
ex_rate['exchange_rate'] = pd.to_numeric(ex_rate['exchange_rate'])

In [2]:
ex_rate.head()

        date  exchange_rate
0 2020-01-01        61.9057
1 2020-01-10        61.2340
2 2020-01-11        61.2632
3 2020-01-14        60.9474
4 2020-01-15        61.4140

In [3]:
ex_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
date             101 non-null datetime64[ns]
exchange_rate    101 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.7 KB

In [4]:
# Loading data into the SQL database

engine = create_engine('sqlite:///exchange_rate.db')
ex_rate.to_sql('exchange_rate', con=engine, if_exists = 'replace', index=False)

In [5]:
# Dollar to ruble exchange rate in SQL

pd.read_sql_query('SELECT * FROM exchange_rate', con=engine)

                           date  exchange_rate
0    2020-01-01 00:00:00.000000        61.9057
1    2020-01-10 00:00:00.000000        61.2340
2    2020-01-11 00:00:00.000000        61.2632
3    2020-01-14 00:00:00.000000        60.9474
4    2020-01-15 00:00:00.000000        61.4140
5    2020-01-16 00:00:00.000000        61.4328
6    2020-01-17 00:00:00.000000        61.5694
7    2020-01-18 00:00:00.000000        61.5333
8    2020-01-21 00:00:00.000000        61.4654
9    2020-01-22 00:00:00.000000        61.8552
10   2020-01-23 00:00:00.000000        61.8343
11   2020-01-24 00:00:00.000000        61.9515
12   2020-01-25 00:00:00.000000        61.8031
13   2020-01-28 00:00:00.000000        62.3380
14   2020-01-29 00:00:00.000000        62.8299
15   2020-01-30 00:00:00.000000        62.3934
16   2020-01-31 00:00:00.000000        63.0359
17   2020-02-01 00:00:00.000000        63.1385
18   2020-02-04 00:00:00.000000        63.9091
19   2020-02-05 00:00:00.000000        63.4342
20   2020-02-06 00:00:00.000000        63.1742
21   2020-02-07 00:00:00.000000        62.7977
22   2020-02-08 00:00:00.000000        63.4720
23   2020-02-11 00:00:00.000000        63.7708
24   2020-02-12 00:00:00.000000        63.9490
25   2020-02-13 00:00:00.000000        63.0470
26   2020-02-14 00:00:00.000000        63.6016
27   2020-02-15 00:00:00.000000        63.4536
28   2020-02-18 00:00:00.000000        63.3085
29   2020-02-19 00:00:00.000000        63.7698
..                          ...            ...
71   2020-04-28 00:00:00.000000        74.4960
72   2020-04-29 00:00:00.000000        74.5706
73   2020-04-30 00:00:00.000000        73.6894
74   2020-05-01 00:00:00.000000        72.7263
75   2020-05-07 00:00:00.000000        73.9719
76   2020-05-08 00:00:00.000000        74.1169
77   2020-05-09 00:00:00.000000        73.8725
78   2020-05-13 00:00:00.000000        73.4326
79   2020-05-14 00:00:00.000000        73.5819
80   2020-05-15 00:00:00.000000        73.9298
81   2020-05-16 00:00:00.000000        73.2056
82   2020-05-19 00:00:00.000000        72.9798
83   2020-05-20 00:00:00.000000        72.3918
84   2020-05-21 00:00:00.000000        72.3381
85   2020-05-22 00:00:00.000000        70.9240
86   2020-05-23 00:00:00.000000        71.8804
87   2020-05-26 00:00:00.000000        71.5962
88   2020-05-27 00:00:00.000000        71.1408
89   2020-05-28 00:00:00.000000        71.0635
90   2020-05-29 00:00:00.000000        71.1012
91   2020-05-30 00:00:00.000000        70.7520
92   2020-06-02 00:00:00.000000        69.7114
93   2020-06-03 00:00:00.000000        68.9831
94   2020-06-04 00:00:00.000000        68.3413
95   2020-06-05 00:00:00.000000        69.0151
96   2020-06-06 00:00:00.000000        68.6319
97   2020-06-09 00:00:00.000000        68.3123
98   2020-06-10 00:00:00.000000        68.6745
99   2020-06-11 00:00:00.000000        68.6183
100  2020-06-12 00:00:00.000000        69.1219

[101 rows x 2 columns]

## Loading the current course into the SQL database

In [6]:
import bs4
import requests
import pandas as pd
import datetime
from sqlalchemy import create_engine

# Parsing the dollar exchange rate on the current date 
# from the site cbr.ru

now_date = datetime.datetime.now().strftime('%d.%m.%Y')

str1 = 'https://www.cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01235&UniDbQuery.From='
str2 = '&UniDbQuery.To='

html = str1+now_date+str2+now_date

req = requests.get(html)
parser = bs4.BeautifulSoup(req.text, "lxml")

rows = parser.find_all("tr")[2:]

ex_rate = []
for row in rows:
    cells = row.find_all('td')
    ex_rate.append(cells)

for i in range(len(ex_rate)):
    ex_rate[i][0] = ex_rate[i][0].text
    ex_rate[i][1] = ex_rate[i][1].text
    ex_rate[i][2] = ex_rate[i][2].text.replace(',','.')

ex_rate = pd.DataFrame(ex_rate)
del ex_rate[1]
ex_rate.columns = ['date', 'exchange_rate']
ex_rate['date'] = pd.to_datetime(ex_rate['date'], format='%d.%m.%Y')
ex_rate['exchange_rate'] = pd.to_numeric(ex_rate['exchange_rate'])

In [7]:
ex_rate.head()

        date  exchange_rate
0 2020-06-17        69.7524

In [8]:
ex_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
date             1 non-null datetime64[ns]
exchange_rate    1 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 96.0 bytes

In [9]:
# Loading new data into the SQL database

engine = create_engine('sqlite:///exchange_rate.db')
ex_rate.to_sql('exchange_rate', con=engine, if_exists = 'append', index=False)

In [10]:
# Dollar to ruble exchange rate in SQL

pd.read_sql_query('SELECT * FROM exchange_rate', con=engine)

                           date  exchange_rate
0    2020-01-01 00:00:00.000000        61.9057
1    2020-01-10 00:00:00.000000        61.2340
2    2020-01-11 00:00:00.000000        61.2632
3    2020-01-14 00:00:00.000000        60.9474
4    2020-01-15 00:00:00.000000        61.4140
5    2020-01-16 00:00:00.000000        61.4328
6    2020-01-17 00:00:00.000000        61.5694
7    2020-01-18 00:00:00.000000        61.5333
8    2020-01-21 00:00:00.000000        61.4654
9    2020-01-22 00:00:00.000000        61.8552
10   2020-01-23 00:00:00.000000        61.8343
11   2020-01-24 00:00:00.000000        61.9515
12   2020-01-25 00:00:00.000000        61.8031
13   2020-01-28 00:00:00.000000        62.3380
14   2020-01-29 00:00:00.000000        62.8299
15   2020-01-30 00:00:00.000000        62.3934
16   2020-01-31 00:00:00.000000        63.0359
17   2020-02-01 00:00:00.000000        63.1385
18   2020-02-04 00:00:00.000000        63.9091
19   2020-02-05 00:00:00.000000        63.4342
20   2020-02-06 00:00:00.000000        63.1742
21   2020-02-07 00:00:00.000000        62.7977
22   2020-02-08 00:00:00.000000        63.4720
23   2020-02-11 00:00:00.000000        63.7708
24   2020-02-12 00:00:00.000000        63.9490
25   2020-02-13 00:00:00.000000        63.0470
26   2020-02-14 00:00:00.000000        63.6016
27   2020-02-15 00:00:00.000000        63.4536
28   2020-02-18 00:00:00.000000        63.3085
29   2020-02-19 00:00:00.000000        63.7698
..                          ...            ...
72   2020-04-29 00:00:00.000000        74.5706
73   2020-04-30 00:00:00.000000        73.6894
74   2020-05-01 00:00:00.000000        72.7263
75   2020-05-07 00:00:00.000000        73.9719
76   2020-05-08 00:00:00.000000        74.1169
77   2020-05-09 00:00:00.000000        73.8725
78   2020-05-13 00:00:00.000000        73.4326
79   2020-05-14 00:00:00.000000        73.5819
80   2020-05-15 00:00:00.000000        73.9298
81   2020-05-16 00:00:00.000000        73.2056
82   2020-05-19 00:00:00.000000        72.9798
83   2020-05-20 00:00:00.000000        72.3918
84   2020-05-21 00:00:00.000000        72.3381
85   2020-05-22 00:00:00.000000        70.9240
86   2020-05-23 00:00:00.000000        71.8804
87   2020-05-26 00:00:00.000000        71.5962
88   2020-05-27 00:00:00.000000        71.1408
89   2020-05-28 00:00:00.000000        71.0635
90   2020-05-29 00:00:00.000000        71.1012
91   2020-05-30 00:00:00.000000        70.7520
92   2020-06-02 00:00:00.000000        69.7114
93   2020-06-03 00:00:00.000000        68.9831
94   2020-06-04 00:00:00.000000        68.3413
95   2020-06-05 00:00:00.000000        69.0151
96   2020-06-06 00:00:00.000000        68.6319
97   2020-06-09 00:00:00.000000        68.3123
98   2020-06-10 00:00:00.000000        68.6745
99   2020-06-11 00:00:00.000000        68.6183
100  2020-06-12 00:00:00.000000        69.1219
101  2020-06-17 00:00:00.000000        69.7524

[102 rows x 2 columns]